In [62]:
import pandas as pd

In [63]:
import sqlalchemy as db

In [64]:
engine = db.create_engine('postgresql://root:root@localhost:5433/ny_taxi')

#### Define the schema form the datafram df, give you the ddl statment to create the table

In [65]:
# define the schema form the datafram df, give you the ddl statment to create the table
ddl_create = pd.io.sql.get_schema(df, name ='yellow_taxi_data')
print(ddl_create)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

#### Load the data but since the table is large we can not load it at once so we will use iterator and *chunksize* to load the data in batches

In [68]:
df_itr = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [69]:
%time df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', index=False)

CPU times: user 63.9 ms, sys: 7.97 ms, total: 71.8 ms
Wall time: 136 ms

0

In [67]:
# df = next(df_itr)   
# len(df)
# df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee]
Index: []

In [59]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [70]:
for i, df in enumerate(df_itr):
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)

CPU times: user 2.4 s, sys: 75.3 ms, total: 2.47 s
Wall time: 4.45 s
CPU times: user 2.45 s, sys: 73.1 ms, total: 2.52 s
Wall time: 4.48 s
CPU times: user 2.39 s, sys: 68.1 ms, total: 2.45 s
Wall time: 4.39 s
CPU times: user 2.61 s, sys: 86.4 ms, total: 2.7 s
Wall time: 4.73 s
CPU times: user 2.55 s, sys: 119 ms, total: 2.67 s
Wall time: 4.93 s
CPU times: user 2.51 s, sys: 115 ms, total: 2.63 s
Wall time: 4.79 s
CPU times: user 2.53 s, sys: 89.6 ms, total: 2.62 s
Wall time: 4.7 s
CPU times: user 2.56 s, sys: 83.4 ms, total: 2.65 s
Wall time: 4.77 s
CPU times: user 2.52 s, sys: 101 ms, total: 2.62 s
Wall time: 4.7 s
CPU times: user 2.56 s, sys: 94 ms, total: 2.65 s
Wall time: 4.71 s
CPU times: user 2.48 s, sys: 82.6 ms, total: 2.57 s
Wall time: 4.55 s
CPU times: user 2.55 s, sys: 98.8 ms, total: 2.65 s
Wall time: 4.68 s
CPU times: user 2.58 s, sys: 93.8 ms, total: 2.67 s
Wall time: 4.71 s
CPU times: user 2.55 s, sys: 81.4 ms, total: 2.64 s
Wall time: 4.69 s
CPU times: user 2.54 s, sys: 96.8 ms, total: 2.64 s
Wall time: 4.68 s
CPU times: user 2.54 s, sys: 98.7 ms, total: 2.64 s
Wall time: 4.69 s
CPU times: user 2.58 s, sys: 98.6 ms, total: 2.68 s
Wall time: 4.75 s
CPU times: user 2.57 s, sys: 82.3 ms, total: 2.66 s
Wall time: 4.68 s
CPU times: user 2.55 s, sys: 96.2 ms, total: 2.65 s
Wall time: 4.73 s
CPU times: user 2.58 s, sys: 112 ms, total: 2.7 s
Wall time: 4.88 s
CPU times: user 2.53 s, sys: 83.1 ms, total: 2.61 s
Wall time: 4.64 s
CPU times: user 2.47 s, sys: 78.8 ms, total: 2.55 s
Wall time: 4.61 s
CPU times: user 2.55 s, sys: 83.7 ms, total: 2.63 s
Wall time: 4.68 s
CPU times: user 2.59 s, sys: 84 ms, total: 2.67 s
Wall time: 4.81 s
CPU times: user 2.55 s, sys: 75.4 ms, total: 2.63 s
Wall time: 4.73 s
CPU times: user 2.54 s, sys: 87.7 ms, total: 2.63 s
Wall time: 4.76 s
CPU times: user 2.41 s, sys: 74.7 ms, total: 2.48 s
Wall time: 4.54 s
CPU times: user 2.62 s, sys: 91.6 ms, total: 2.71 s
Wall time: 4.82 s

/var/folders/qg/c3sjm0m159x93506zs2h9_qm0000gn/T/ipykernel_79941/3474877878.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, df in enumerate(df_itr):

CPU times: user 2.42 s, sys: 89.6 ms, total: 2.51 s
Wall time: 4.44 s
CPU times: user 1.42 s, sys: 45.7 ms, total: 1.46 s
Wall time: 2.67 s